<!-- The following doctype doesn't work when offline, so default to old one, which does work.
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.huivip.holu.model.User"/>
        <mapping class="com.huivip.holu.model.Role"/>
        <mapping class="com.huivip.holu.model.UserGroup"/>
        <mapping class="com.huivip.holu.model.Company"/>
        <mapping class="com.huivip.holu.model.Post"/>
        <mapping class="com.huivip.holu.model.PostBar"/>
        <mapping class="com.huivip.holu.model.News"/>
        <mapping class="com.huivip.holu.model.NewsType"/>
        <mapping class="com.huivip.holu.model.Project"/>
        <mapping class="com.huivip.holu.model.Reply"/>
        <mapping class="com.huivip.holu.model.PostSubject"/>
        <mapping class="com.huivip.holu.model.Message"/>
        <mapping class="com.huivip.holu.model.DocType"/>
    
        <mapping class="com.huivip.holu.model.Documentation"/>
        <mapping class="com.huivip.holu.model.Note"/>
        <mapping class="com.huivip.holu.model.ComponentStyle"/>
        <mapping class="com.huivip.holu.model.Component"/>
        <mapping class="com.huivip.holu.model.Department"/>
        <mapping class="com.huivip.holu.model.CustomGroup"/>
        <mapping class="com.huivip.holu.model.ProjectIndex"/>
        <mapping class="com.huivip.holu.model.CompanyDatabaseIndex"/>
        <mapping class="com.huivip.holu.model.SubComponentList"/>
        <mapping class="com.huivip.holu.model.ProcessMid"/>
        <mapping class="com.huivip.holu.model.ProcessDictionary"/>
        <mapping class="com.huivip.holu.model.MessageReceiver"/>
        <mapping class="com.huivip.holu.model.MessageReply"/>
        <mapping class="com.huivip.holu.model.Summary"/>
        <mapping class="com.huivip.holu.model.UserTrack"/>
        <mapping class="com.huivip.holu.model.ClientVersion"/>
        <mapping class="com.huivip.holu.model.Task"/>
        <mapping class="com.huivip.holu.model.SummaryTotal"/>
        <mapping class="com.huivip.holu.model.Setting"/>
    </session-factory>
</hibernate-configuration>
