<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="catalina.base">${catalina.home}</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%p [%t] %c{1}.%M(%L) | %m%n"/>
        </Console>
        <!--<File name="Holu" fileName="logs/HoluSystem.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>-->
        <RollingFile name="RollingFile" fileName="${catalina.base}/logs/HoluSystem.log" filePattern="${catalina.base}/logs/HoluSystem-%d{MM-dd-yyyy}.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
        <!--<RollingFile name="RollingFile" filename="${catalina.base}/logs/HoluSystem.log"
                     filepattern="${catalina.base}/logs/HoluSystem-%d{MM-dd-yyyy}.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>-->
    </Appenders>

    <Loggers>
        <Logger name="net.sf.ehcache" level="error"/>
        <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
        <Logger name="org.springframework.security" level="error"/>
        <Logger name="org.apache" level="error"/>
        <Logger name="org.apache.velocity" level="fatal"/>
        <!-- Suppress invalid warning messages from JSF -->
        <Logger name="org.apache.myfaces" level="error"/>
        <!-- Suppress warnings from Struts -->
        <Logger name="org.apache.struts2.util.TextProviderHelper" level="error"/>
        <Logger name="com.opensymphony.xwork2.util.OgnlUtil" level="error"/>
        <Logger name="com.opensymphony.xwork2.ognl.OgnlValueStack" level="error"/>
        <Logger name="org.dbunit" level="warn"/>
        <Logger name="org.hibernate" level="warn"/>
        <!-- Uncomment if you want to see Hibernate's SQL -->
        <!--<Logger name="org.hibernate.SQL" level="debug"/>-->
        <Logger name="org.springframework" level="warn"/>
        <Logger name="com.huivip.holu" level="debug"/>
        <Logger name="com.huivip.holu.tool" level="info"/>

        <Root level="ERROR">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
